.recsbox {
    width: 20vw;
    height: fit-content;
    background-color: 06161f;
    color: white;
    margin-top: 300px;
    margin-left: 10px;
    position: fixed;
    font-size: large;
    font-weight: 700;
}

button {
    margin-left: 20px;
}