.recsbox {
    width: 20vw;
    height: fit-content;
    background-color: dimgray;
    margin-top: 300px;
    margin-left: 10px;
    position: fixed;
    border-radius: 15px;
    font-size: large;
    font-weight: 700;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

button {
    margin-left: 20px;
}