.tweet-container {
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
}

.tweet {
    background-color: aqua;
    height: 200px;
}

.reactions {
    background-color: green;
    height: 30%;
}