.feed-container {
  display: flex;
  flex-direction: row;
}

.feed {
  display: flex;
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.post-box {
  background-color: crimson;
}