.feed {
  display: flex;
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100vh;
  justify-content: start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}