.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.feed {
  display: flex;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: start;
  align-items: center;
  margin: 0;
  gap: 20px

}

.leftBar {
  background-color: dimgray;
  width: 40vw;
}

.rightBar {
  background-color: dimgray;
  width: 40vw;
}